<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.glureau.protorest_sample_github">

    <application
        android:name="com.glureau.protorest_sample_github.MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="Github API"
        android:theme="@style/AppTheme">
        <activity android:name="com.glureau.protorest_core.ProtoRestActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
